* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body, html {
  height: 100%;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  overflow-x: hidden;
  background-color: #f3f3f3;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

b {
  font-weight: bold;
}

.fa-mobile {
  font-size: 26px;
  position: relative;
  top: 3px;
}

.nav-user {
  position: absolute;
  bottom: 30px;
  margin-left: 8px;
}

.nav-user li:hover a {
  color: #ffffff;
}

.nav-user a {
  line-height: 40px;
  color: #999999;
  font-weight: normal;
  text-align: left;
  height: 40px;
  font-size: 14px;
}

.dropdown li {
  font-weight: normal;
  text-align: left;
  height: 40px;
  font-size: 14px;
}

.dropdown .active {
  background-color: #e78170;
}

.dropdown .active a {
  color: #fff;
}

.dropdown li a {
  display: block;
  padding-left: 10px;
  line-height: 40px;
  width: 170px;
  height: 40px;
  color: #999999;
}

.dropdown li:hover {
  background-color: #e78170;
}

.dropdown li:hover a {
  color: #ffffff;
}

.sidebar {
  width: 120px;
  height: 100%;
  position: fixed;
  background-color: #2a2a2a;
}

.home {
  height: 100%;
  margin-left: 120px;
}

.showbar {
  transform: translateX(0);
  transition: all 0.5s;
  width: 280px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}

.showbar .cover-image {
  position: absolute;
  top: 0;
  left: 0;
  background: url('./images/vue-demo-bg3.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.showbar .cover-image_2 {
  position: absolute;
  top: 0;
  left: 0;
  background: url('./images/vue-demo-bg2.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.text {
  position: absolute;
  color: #ffffff;
  bottom: 0;
  margin-bottom: 40px;
  line-height: 40px;
  margin-left: 20px;
  text-shadow: 1px 1px 1px #000;
}

.text a {
  color: #ffffff;
  text-align: center;
  display: block;
  width: 140px;
  border-radius: 5px;
  height: 40px;
  background-color: #6bd95b;
}

.article-page {
  width: 56%;
  min-height: 1000px;
  right: 170px;
  position: absolute;
  background-color: #f3f3f3;
  top: 0;
  z-index: 10;
}

.article-page a {
  font-size: 12px;
  color: #555555;
}

.rightbar {
  width: 200px;
  height: 100%;
  right: 0;
  position: fixed;
  z-index: 10;
  background-color: #f3f3f3;
  top: 0;
}

.article-page nav {
  height: 50px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.12);
}

.nav-text {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  margin-left: 10px;
  padding: 0 15px;
  transition: all 0.3s;
}

.article-page .fir {
  border-bottom: 1px solid #000000;
}

.nav-text:hover {
  background-color: #eeeeee;
}

.search {
  line-height: 50px;
  float: right;
}

.search input {
  padding-right: 10px;
  padding-left: 10px;
  width: 160px;
  height: 25px;
  border: 1px solid #efefef;
  border-radius: 10px;
}

.search input:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(82, 168, 236, 0.8);
}

.clearfloat:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}

.search-icon {
  position: absolute;
  top: 1px;
  right: 5px;
}

.list .author {
  color: #4094c7;
}

.list .time {
  font-size: 12px;
  color: #717171;
}

.list .small-text {
  font-size: 12px;
  color: #717171;
}

.list .image {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100px;
  height: 80px;
  float: right;
  margin-top: -74px;
}

.rightbar nav {
  padding: 15px 2px 5px 10px;
  margin-right: 5px;
  float: right;
  font-size: 14px;
}

.rightbar nav a {
  color: #555555;
}

.rightbar nav a:hover {
  color: black;
}

@media screen and (max-width: 1100px){
  .dropdown li a {
    display: block;
    color: #999999;
    height: 45px;
  }
}
